---
layout: page
title: RFC
header: RFC
permalink: /rfc/
---

<div class="RFC">
<!--
  <h1 class="page-heading">RFC Posts</h1>
-->
  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.categories contains "rfc" %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
	{% if post.tags[0] %}
	<span class="post-meta">
	  {% for tag in post.tags %}
	    {{tag}} 
	  {% endfor%}
	</span>
	{% endif %}

        {{post.excerpt}}
      </li>
    {% endif %}
    {% endfor %}
  </ul>

</div>
