<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{% include icon-github.html username=site.github_username %}</li>
          <li><i class="fa fa-envelope-o" aria-hidden="true"></i> {{ site.email }}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      <!--Subscribe <a href="{{ site.url}}/feed.xml">via RSS</a-->
      </div>

      <div class="footer-col footer-col-3" >
        <ul class="contact-list">
          <li>{{ site.d1 }}</li>
          <li>{{ site.d2 }}</li>
        </ul>
      </div>
    </div>

  </div>
</footer>
