<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{% include icon-github.html username=site.github_username %}</li>
          <li><a href="mailto:{{ site.email }}"><span class="icon icon--envelope">{% include e-mail-envelope.svg %}</span><span class="email">{{ site.email }}</span></a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3" >
        <ul class="contact-list">
	  <li> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; {{ site.d1 }}</li>
	  <li> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; {{ site.d2 }}</li>
	</ul>
      </div>
    </div>

  </div>
</footer>
