/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-logo {
    float: left;
    top: 7px;
    height: 43px;
    width: 43px;
    position: relative;

    @include media-query($on-palm) {
        top: 7px;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        z-index: 1;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    //margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(32% - (#{$spacing-unit} / 2));
    width:         calc(32% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
    float: right;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        //margin-bottom: 24px;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 22.5px;

    @include media-query($on-laptop) {
        font-size: 20px;
    }
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 22.5px;

        @include media-query($on-laptop) {
            font-size: 20px;
        }
    }
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-content > ul {
    text-align: justify;
}
/* super-search
Author: Kushagra Gour (http://kushagragour.in)
MIT Licensed
*/
.super-search-btn {
    position: relative;
    float: right;
    right: 10px;
    top: 6px;
    height: 45px;
    fill: #DDD;
    z-index: 0;

    @include media-query($on-palm) {
        right: 40px;
    }
}
.super-search-btn:hover {
    fill: #BBB;
}

.super-search {
    position: fixed;
    background-color: rgba(0, 191, 255, 0.85);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 6;
    transition: 0.2s ease;
    visibility: hidden;
    opacity: 0;
}
.super-search__close-btn {
    fill: #DDD;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;

    @include media-query($on-palm) {
        top: 2px;
    }
}
.super-search__input {
    border: 0;
    font-size: 40px;
    border-left: none;
    border-right: none;
    color: #999;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    transform: translateY(-100%);
    transition: 0.15s ease-out 150ms;

    @include media-query($on-palm) {
        font-size: 25px;
    }
}
.is-active .super-search__input {
    transform: translateY(0);
}
.super-search__results {
    text-align: center;
    list-style: none;
    padding: 0;
    overflow-x: hidden;
    height: calc(100% - 110px);
    transition: 0.2s ease;
    
    @include media-query($on-palm) {
        margin-left: 0px;
    }
}
.super-search__results.is-hidden {
    opacity: 0;
    transform: translateY(-1vh);
}

.super-search__results > li > a {
    display: block;
    position: relative;
    background-color: #f9f9f9;
    color: #666;
    padding: 17px;
    margin: 12px 14px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);

    @include media-query($on-palm) {
        padding: 10px;
        text-align: left;
    }
}
.super-search__result-date {
    color: #BBB;
    position: absolute;
    right: 12px;
}
.super-search.is-active {
    opacity: 1;
    visibility: visible;
}
