---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h2 itemprop="name headline">{{ page.title }}</h2>
    <i class="fa fa-calendar"></i><span class="post-meta" margin-left="5px"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: " %b %-d, %Y" }}</time>
    {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
    {%if page.tags%}<span class="tags"> {% for tag in page.tags%}<li class="tag">{{tag}}</li>{% endfor %}</span>{% endif %}
    </span>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  {% include disqus.html %}
</article>
