---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h2 itemprop="name headline">{{ page.title }}</h2>
    <i class="fa fa-calendar" style="margin-left: 2px"></i><span class="post-meta" style="margin-left: 2px"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: " %b %-d, %Y" }}</time>
    {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
    {% if page.tags %}<i class="fa fa-tags" aria-hidden="true" style="margin-left: 2px"></i>{% for tag in page.tags%}<a href="/tags#{{tag}}" style="margin-left: 5px">{{tag}}</a>{% endfor %}{% endif %}
    </span>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  <div class="wrapper" style="text-align: center;">
      <span style="font-size: 13px; color: #f7f7f7">Copyleft © {{ site.years }} {{ site.author }}</span>
  </div>


  {% include gitalk.html %}
</article>
  <a href="#" class="scrollToTop">Scroll To Top</a>
<script>
  anchors.add('h4');

  $(document).ready(function(){
    //Check to see if the window is top if not then display button
    $(window).scroll(function(){
        if ($(this).scrollTop() > 100) {
            $('.scrollToTop').fadeIn();
        } else {
            $('.scrollToTop').fadeOut();
        }
    });
     
    //Click event to scroll to top
    $('.scrollToTop').click(function(){
        $('html, body').animate({scrollTop : 0},400);
            return false;
        });
    });
</script>
